@media screen {
    /* --- Reset Styles --- */
    * {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    html, body {
      height: 100%;
      width: 100%;
    }
  
      /* Add a black background color to the top navigation */
      .topnav {
        background-color: #333;
        overflow: hidden;
      }
    
    /* Style the links inside the navigation bar */
      .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    
    /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      } 
    
    /* Add a color to the active/current link */
      .topnav a.active {
        float: left;
        background-color: #ff0000;
        color: white;
      }
  
  
    /* --- Welcome Page Styles --- */
    body {
      background-color: rgb(255 255 255 / 35%);
      color: #333;
      font-family: Sans-Serif;
      line-height: 18px;
      
    }

    .container {
      display: flex;
      flex-flow: row nowrap;
      height: 250px;
    }
  
    .item {
      width: 40%;
      height: 40%;
    }

    .responsive {
      width: 100%;
      height: auto;
    }
  
    .wrapper {
      border-radius: 20px;
      background: #90b4e4;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 16px auto;
      max-width: 500px;
      padding: 2.25%; /* 18px / 800px */
      width: 85%;
    }
  
    .wrapper_home {
      border-radius: 20px;
      background: #fff;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 16px auto;
      max-width: 300px;
      padding: 2.25%; /* 18px / 800px */
      width: 85%;
    }

    .flex-container {
      display: flex;
      flex-wrap: wrap;
      float: left;
      width: 100%;
    }

    .flex-container > div {
      background-color: #f1f1f1;
      flex: 1 1 21%;
      width: 100px;
      margin: 10px;
      text-align: center;
      line-height: 50px;
      font-size: 11px;
    }
  
    h1 {
      font-size: 36px;
      line-height: 54px;
    }
  
    h2 {
      border-bottom: 2px solid #ccc;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 16px;
    }
  
    h3 {
      font-size: 18px;
      line-height: 36px;
    }
  
    p {
      margin-bottom: 18px;
    }
  
    .main {
      overflow: hidden;
    }
  
    .content {
      float: left;
      width: 60%; /* 480px / 800px */
    }
  
    .sidebar {
      display: none;
      background: #eee;
      border: 1px solid #ccc;
      float: right;
      padding: 2.08333333333%;
      width: 30%;
      position: fixed;
      right: 60px;
      top: 110px;
      height: 316px;
    }
  
    .sidebar ul {
      font-size: 14px;
    }

    .sticky {
      position: fixed; 
      top: 10px;
      right:18px;
      margin: 0;
      width:calc(33.33% - 25px);
     }
  
    .branding {
      clear: both;
    }
  
    footer.branding {
      border-top: 2px solid #ccc;
      margin-top: 20px;
      padding-top: 20px;
    }
  
    .footer {
      position: fixed;
      left: 0;
      bottom:0;
      width: 100%;
      padding: 10px;
  
      height: 40px;
      background-color: #ff0000;
      color: black;
      text-align: left;
    }
  
    .moveright {
      float: right;
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: auto;
    }
  
    .content, .sidebar {
      float: none;
      width: 100%;
    }
  
    .sidebar {
      background: transparent;
      border: none;
      border-top: 2px solid #ccc;
      padding: 0;
    }

    @media (max-width: 800px) {
      .flex-container {
        flex-direction: column;
      }
    }
  
    h1 {
      font-size: 24px;
      line-height: 36px;
    }
  
    h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  